go 1.21.6


use (
    ./pkg/jwt
    ./internal/env
	./internal/pg
	./internal/api
	./internal/api/base
	./internal/api/modules
	./pkg/helpers
	./internal/models
	./internal/external
	./pkg/dto
	 ./pkg/crypto
	 ./pkg/pseudo
	 ./pkg/socket
	 ./pkg/fs
	.
)